# Node.js environment
NODE_ENV=development

# JWT secret key
ACCESS_TOKEN_SECRET=your_secret_key

# Database credentials
MYSQL_DATABASE=your_database
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
